.post {
  width: 75%;
  margin: 0 auto;
}


.postWrapper {
  background-color: #fcf0f0;
  padding: 1px 20px 20px;

}

.PostDetail_title {
  text-align: center;
}

.badges {
  display: flex;
  gap: 20px;
}

img {
  height: 15px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tag {
  gap: 5px;
}

a {
  display: inline-block; 
  text-decoration: none;
  color: brown;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.loading {
  text-align: center;
  margin-top: 150px;
  font-size: 30px;
}